<header id="main-header" class="py-2 bg-info text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><i class="fas fa-user"></i>Editar Cliente</h1>
      </div>
    </div>
  </div>
</header>

<!-- Formulario de cliente -->
<form #clienteForm="ngForm" (ngSubmit)="guardar(clienteForm)">
  <flash-messages></flash-messages>

  <!--Botones -->
  <section id="actions" class="py-4 mb-4 bg-ligth">
    <div class="container ">
      <div class="row text-center">
        <div class="col mb-4 ">
          <a routerLink="/" class="btn btn-primary btn-block">
            <i class="fa fa-arrow-left"></i>Regregar al Inicio
          </a>
        </div>
        <div class="col mb-4 ">
          <button type="submit" class="btn btn-success btn-block">
            <i class="fas fa-check"></i>Guardar Cliente
          </button>
        </div>
        <div class="col mb-4 ">
          <a href="#" (click)="eliminar()" class="btn btn-danger btn-block">
            <i class="fas fa-trash"></i>Eliminar Cliente
          </a>
        </div>
      </div>
    </div>
  </section>
  <section id="details">
    <div class="container" >
      <div class="row" >
        <div class="col-md-12">
          <div class="card" >
            <div class="card-header" >
              <h4>Editar Cliente</h4>
            </div>
            <div class="card body" >
              <div class="form-group" class="py-3" >
                <label for="nombre">Nombre</label>
                <input
                  type="text"
                  name="nombre"
                  class="form-control"
                  #nombre="ngModel"
                  [(ngModel)]="cliente.nombre"
                  [ngClass]="{ 'is-invalid': nombre.errors && nombre.touched }"
                  required
                  minlength="2"
                />
                <div
                  [hidden]="!nombre.errors?.['required']"
                  class="invalid-feedback"
                >
                  Nombre Requerido
                </div>
                <div
                  [hidden]="!nombre.errors?.['minlength']"
                  class="invalid-feedback"
                >
                  Debe contener al menos dos caracteres
                </div>
              </div>

              <div class="form-group" class="py-3">
                <label for="apellido">Apellido</label>
                <input
                  type="text"
                  name="apellido"
                  class="form-control"
                  #apellido="ngModel"
                  [(ngModel)]="cliente.apellido"
                  [ngClass]="{
                    'is-invalid': apellido.errors && apellido.touched
                  }"
                  required
                  minlength="2"
                />
                <div
                  [hidden]="!apellido.errors?.['required']"
                  class="invalid-feedback"
                >
                  Apellido Requerido
                </div>
                <div
                  [hidden]="!apellido.errors?.['minlength']"
                  class="invalid-feedback"
                >
                  Debe contener al menos dos caracteres
                </div>
              </div>

              <div class="form-group" class="py-3">
                <label for="email">Email</label>
                <input
                  type="email"
                  name="email"
                  class="form-control"
                  #email="ngModel"
                  [(ngModel)]="cliente.email"
                  [ngClass]="{ 'is-invalid': email.errors && email.touched }"
                  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                  required
                />
                <div
                  [hidden]="!email.errors?.['required']"
                  class="invalid-feedback"
                >
                  Email Requerido
                </div>
                <div
                  [hidden]="!email.errors?.['pattern']"
                  class="invalid-feedback"
                >
                  Email no valido
                </div>
                <!-- el pattern es para validar el emal, que tenga @ y termine con dominio -->
              </div>

              <div class="form-group" class="py-3">
                <label for="saldo">Saldo</label>
                <input
                  type="number"
                  name="saldo"
                  class="form-control"
                  #saldo="ngModel"
                  [(ngModel)]="cliente.saldo"
                  [ngClass]="{ 'is-invalid': saldo.errors && saldo.touched }"
                  required
                />
                <div
                  [hidden]="!saldo.errors?.['required']"
                  class="invalid-feedback"
                >
                  Saldo Requerido
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
