<!-- Listado Productos -->
<section id="productos">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="m-0 me-md-3">Productos</h4>
          <a href="#" class="btn btn-sm btn-primary me-md-3" data-bs-toggle="modal" data-bs-target="#agregarProductoModal">+ Nuevo</a>
          <button class="btn btn-sm btn-success" (click)="toggleSidebar()">Ventas</button>
        </div>
        <div class="card-body">
          <div class="form-group mb-3">
            <input type="text" class="form-control" placeholder="Buscar productos" (input)="onInput($event)">
          </div>
          <div class="table-responsive">
            <table class="table table-striped table-bordered">
              <thead class="table-dark">
                <tr>
                  <th>Numero</th>
                  <th>Nombre</th>
                  <th>Marca</th>
                  <th>Descripción</th>
                  <th>Stock</th>
                  <th>Precio</th>
                  <th>Categoría</th>
                  <th>Imagen</th>
                  <th>Acciones</th>
                  <th>Baja</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let producto of productos; let i = index">
                  <td>{{ producto.numero}}</td>
                  <td>{{ producto.nombre }}</td>
                  <td>{{ producto.marca }}</td>
                  <td>{{ producto.descripcion }}</td>
                  <td>{{ producto.stock }}</td>
                  <td>{{ producto.precio | currency: "ARG":"$" }}</td>
                  <td>{{ producto.categoria }}</td>
                  <td>
                    <ng-container *ngIf="producto.imagen">
                      <div class="mt-2">
                        <img [src]="producto.imagen" alt="Vista Previa de la Imagen" class="img-thumbnail" style="max-width: 100px; max-height: 100px;">
                      </div>
                    </ng-container>
                    <ng-container *ngIf="!producto.imagen">sin imagen</ng-container>
                  </td>
                  <td>
                    <button routerLink="/producto/editar/{{ producto.id }}" class="btn btn-warning btn-sm" style="background-color: orange;" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar">
                      <i class="fas fa-edit" style="color: white;"></i>
                    </button>
                  </td>
                  <td>{{ producto.baja }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- Agregar producto modal -->
<div class="modal fade" id="agregarProductoModal">
  <div class="modal-dialog modal-lg d-flex justify-content-center align-items-center">
    <div class="modal-content">
      <div class="modal-header bg-custom text-white">
        <h5 class="modal-title">Agregar Producto</h5>
        <button
          class="close"
          data-bs-dismiss="modal"
          class="btn btn-info"
          #botonCerrar
          #botonLimpiar
        >
          <span>&times;</span>
        </button>
      </div>

      <!-- Flash Messages -->
      <flash-messages></flash-messages>

      <!-- Formulario de producto -->
      <form #productoForm="ngForm" (ngSubmit)="agregar(productoForm)">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <!-- Campo Nombre -->
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <input
                  type="text"
                  name="nombre"
                  class="form-control"
                  #nombre="ngModel"
                  [(ngModel)]="producto.nombre"
                  [ngClass]="{'is-invalid':nombre.errors && nombre.touched}"
                  required
                  minlength="2"
                  tabindex="1"
                >
                <!-- Validación -->
                <div [hidden]="!nombre.errors?.['required']" class="invalid-feedback">
                  Nombre Requerido
                </div>
                <div [hidden]="!nombre.errors?.['minlength']" class="invalid-feedback">
                  Debe contener al menos dos caracteres
                </div>
              </div>

              <!-- Campo Marca -->
              <div class="form-group">
                <label for="marca">Marca</label>
                <input
                  type="text"
                  name="marca"
                  class="form-control"
                  #marca="ngModel"
                  [(ngModel)]="producto.marca"
                  [ngClass]="{'is-invalid':marca.errors && marca.touched}"
                  required
                  minlength="2"
                  tabindex="3"
                >
                <!-- Validación -->
                <div [hidden]="!marca.errors?.['required']" class="invalid-feedback">
                  Marca Requerida
                </div>
                <div [hidden]="!marca.errors?.['minlength']" class="invalid-feedback">
                  Debe contener al menos dos caracteres
                </div>
              </div>

              <!-- Campo Precio -->
              <div class="form-group">
                <label for="precio">Precio</label>
                <input
                  type="number"
                  name="precio"
                  class="form-control"
                  #precio="ngModel"
                  [(ngModel)]="producto.precio"
                  [ngClass]="{'is-invalid':precio.errors && precio.touched}"
                  required
                  tabindex="5"
                >
                <!-- Validación -->
                <div [hidden]="!precio.errors?.['required']" class="invalid-feedback">
                  Precio Requerido
                </div>
              </div>

              <!-- Campo Stock -->
              <div class="form-group">
                <label for="stock">Stock</label>
                <input
                  type="number"
                  name="stock"
                  class="form-control"
                  #stock="ngModel"
                  [(ngModel)]="producto.stock"
                  [ngClass]="{'is-invalid':stock.errors && stock.touched}"
                  required
                  tabindex="7"
                >
                <!-- Validación -->
                <div [hidden]="!stock.errors?.['required']" class="invalid-feedback">
                  Stock Requerido
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <!-- Campo Descripción -->
              <div class="form-group">
                <label for="descripcion">Descripción</label>
                <textarea
                  name="descripcion"
                  class="form-control"
                  #descripcion="ngModel"
                  [(ngModel)]="producto.descripcion"
                  [ngClass]="{'is-invalid':descripcion.errors && descripcion.touched}"
                  required
                  minlength="2"
                  tabindex="2"
                ></textarea>
                <!-- Validación -->
                <div [hidden]="!descripcion.errors?.['required']" class="invalid-feedback">
                  Descripción Requerida
                </div>
                <div [hidden]="!descripcion.errors?.['minlength']" class="invalid-feedback">
                  Debe contener al menos dos caracteres
                </div>
              </div>

              <!-- Campo Categoría -->
              <div class="form-group">
                <label for="categoria">Categoría</label>
                <input
                  type="number"
                  name="categoria"
                  class="form-control"
                  #categoria="ngModel"
                  [(ngModel)]="producto.categoria"
                  [ngClass]="{'is-invalid':categoria.errors && categoria.touched}"
                  required
                  tabindex="4"
                >
                <!-- Validación -->
                <div [hidden]="!categoria.errors?.['required']" class="invalid-feedback">
                  Categoría Requerida
                </div>
              </div>

              <!-- Campo para cargar la imagen -->
              <div class="form-group">
                <label for="imagen">Imagen</label>
                <input
                  type="file"
                  name="imagen"
                  class="form-control-file"
                  (change)="onFileSelected($event)"
                  accept="image/*"
                  tabindex="6"
                >
                <div *ngIf="producto.imagen" class="mt-2">
                  <img
                    [src]="imagenPreview"
                    alt="Vista Previa de la Imagen"
                    class="img-thumbnail"
                    style="max-width: 150px; max-height: 150px;">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Botón Guardar -->
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" tabindex="8">Guardar</button>
        </div>
      </form>

      <!-- Fin del formulario de producto -->

    </div>
  </div>
</div>




<app-sidebar></app-sidebar>
