<flash-messages></flash-messages>

<section id="login">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <!-- Cuadrante izquierdo con la imagen -->
                <img src="../../../assets/login-image.jpg" alt="Imagen" class="img-fluid">
              </div>
              <div class="col-md-6">
                <!-- Cuadrante derecho con el formulario -->
                <div class="card">
                  <div class="card-header">
                    <h4>Ingresá con tu cuenta</h4>
                  </div>
                  <div class="card-body">
                    <form (submit)="login()">
                      <div class="form-group">
                        <label for="email">Email</label>
                        <input
                          type="email"
                          class="form-control"
                          name="email"
                          [(ngModel)]="email"
                          required
                        />
                      </div>
                      <div class="form-group">
                        <label for="password">Password</label>
                        <input
                          type="password"
                          class="form-control"
                          name="password"
                          [(ngModel)]="password"
                          required
                        />
                      </div>
                      <br />
                      <div class="text-center">
                        <input
                          type="submit"
                          value="Iniciar Sesión"
                          class="btn btn-primary btn-block"
                        />
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
