<app-loader *ngIf="isLoading"></app-loader>

<section id="login" [@slideUp]>
  <div class="container">
    <div class="row">
      <div class="col-md-10 mx-auto my-auto col-lg-8 col-lg-auto">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <!-- Cuadrante izquierdo con la imagen -->
                <img src="../../../assets/background-corralon.jpeg" alt="Imagen" class="img-thumbnail">
              </div>
              <div class="col-md-6">
                <!-- Cuadrante derecho con el formulario -->
                <div class="card">
                  <div class="card-header">
                    <h4>INGRESÁ CON TU CUENTA</h4>
                  </div>
                  <div class="card-body">
                    <form (submit)="login()">
                      <div class="form-group">
                        <label for="email">CORREO ELECTRÓNICO</label>
                        <input
                          type="email"
                          class="form-control"
                          name="email"
                          [(ngModel)]="email"
                          required
                        />
                      </div>
                      <div class="form-group">
                        <label for="password">CONTRASEÑA</label>
                        <input
                          type="password"
                          class="form-control"
                          name="password"
                          [(ngModel)]="password"
                          required
                        />
                      </div>
                      <br />
                      <div class="text-center">
                        <input
                          type="submit"
                          value="INICIAR SESIÓN"
                          class="btn btn-success btn-block btn-login"
                        />
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
