<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" id="tab-productos" data-toggle="tab" href="#content-productos">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="tab-categorias" data-toggle="tab" href="#content-categorias">Categorías</a>
        </li>
        <!-- Puedes agregar más pestañas aquí -->
      </ul>
    </div>
    <div class="card-body tab-content">
      <div class="tab-pane fade show active" id="content-productos">
        <h5 class="card-title">Título del Card - Productos</h5>
        <!-- Contenido de la pestaña de productos -->
        <app-productos></app-productos>
      </div>
      <div class="tab-pane fade" id="content-categorias">
        <h5 class="card-title">Título del Card - Categorías</h5>
        <!-- Contenido de la pestaña de categorías -->
        <app-categorias></app-categorias>
      </div>
      <!-- Puedes agregar más pestañas y su contenido aquí -->
    </div>
  </div>
</div>


