/* app-sidebar.component.css */
.sidebar {
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0; /* Cambiado de 'left' a 'right' */
  background-color: #003870;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 1.5rem;
  color: #c1dcf8;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.sidebar h3 {
  text-align: center;
}

.sidebar ul {
  padding: 0;
  list-style: none;
  color: white;
}

.sidebar li {
  padding: 8px;
  text-align: center;
}

.sidebar a {
  text-decoration: none;
  color: white;
}

.sidebar.active {
  width: 400px;
}

.close-btn {
  background-color: #333;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.close-btn:hover {
  background-color: #555;
}

